# Homework ML Zoomcamp Week 1

## Version of Python and Numpy

In [30]:
from platform import python_version
print(python_version())

3.9.7

In [31]:
import numpy as np
np.__version__

'1.20.3'

## Getting the Data

In [32]:
import pandas as pd

In [33]:
# Daten einlesen
data = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [34]:
# Check data
display(data.head())

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2

In [35]:
# Number of rows
print(len(data))

11914

## Question 3

In [36]:
#  most frequent car manufacturers (top-3)
print(data.value_counts('Make')[:3])

Make
Chevrolet     1123
Ford           881
Volkswagen     809
dtype: int64

## Question 4

In [37]:
#  number of unique Audi car models
# make subset
audi = data[data['Make']=='Audi']

# see unique car models in subset
# print(audi['Model'].unique())
print('\n', 'Number of unique car models: ', len(audi['Model'].unique()))

 Number of unique car models:  34

## Question 5

In [38]:
# How many columns in the dataset have missing values?
print(data.isna().sum())

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question 6

In [39]:
# Find the median value of "Engine Cylinders" column in the dataset.
print('Median of "Engine Cylinders" column: ',data['Engine Cylinders'].median(), '\n')

# Next, calculate the most frequent value of the same "Engine Cylinders".
mfv = data['Engine Cylinders'].value_counts().index[0]
print('Most frequent of "Engine Cylinders" column: ',mfv, '\n')

# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
data['Engine Cylinders'].fillna(mfv, inplace=True)

# Now, calculate the median value of "Engine Cylinders" once again.
print('Median of "Engine Cylinders of fillna" column: ',data['Engine Cylinders'].median(), '\n')

#print(data.isna().sum())

Median of "Engine Cylinders" column:  6.0

Most frequent of "Engine Cylinders" column:  4.0

Median of "Engine Cylinders of fillna" column:  6.0

## Question 7

In [40]:
#Select all the "Lotus" cars from the dataset.
lotus = data[data['Make']=='Lotus']

#Select only columns "Engine HP", "Engine Cylinders".
lotus_engine = lotus[['Engine HP', 'Engine Cylinders']]

#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
lotus_engine = lotus_engine.drop_duplicates()

print('Number of rows after drop_duplicates:', len(lotus_engine), '\n')

#Get the underlying NumPy array. Let's call it X.
X = lotus_engine.values

#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = np.dot(X.T, X)

#Invert XTX.
XTX_invers = np.linalg.inv(XTX)

#Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w_1 = np.dot(XTX_invers, X.T)
w = np.dot(w_1, y)

#What's the value of the first element of w?
print('First value of w: ', w[0])

Number of rows after drop_duplicates: 9

First value of w:  4.594944810094579